.odd-numbered {
    background-color: #ffb6c1;
    font-family: Verdana, Geneva, Tahoma, sans-serif, 'Dejavu Sans';
}

.special {
    font-size: 24px;
}

#blue {
    color: #0123bb;
    font-size: 36px;
}

#green {
    background-color: hsl(110, 100%, 72%);
    font-size: 24px;
    font-weight: 700;
}